@import url(https://fonts.googleapis.com/css?family=Merienda);
/***********************
  Colors and fonts
 ***********************/
/* Add Text shadow to the display texts */
.display-1 {
  text-shadow: 1px 1px 9px rgba(0, 0, 0, 0.2); }

.display-2 {
  text-shadow: 1px 1px 9px rgba(0, 0, 0, 0.2); }

.display-3 {
  text-shadow: 1px 1px 9px rgba(0, 0, 0, 0.2); }

.display-4 {
  text-shadow: 1px 1px 9px rgba(0, 0, 0, 0.2); }

/*Make alerts have different font*/
.bg-primary {
  font-family: sans-serif; }

.bg-secondary {
  font-family: sans-serif; }

.bg-success {
  font-family: sans-serif; }

.bg-danger {
  font-family: sans-serif; }

.bg-warning {
  font-family: sans-serif; }

.bg-info {
  font-family: sans-serif; }

.bg-light {
  font-family: sans-serif; }

.bg-dark {
  font-family: sans-serif; }

.bg-white {
  font-family: sans-serif; }

.bg-transparent {
  font-family: sans-serif; }

/* Selector code */
h1, h2, h3, h4, h5, h6, p, a {
  font-family: "Merienda", cursive; }

.bg-primary, .bg-secondary {
  font-family: sans-serif; }

.blockquote {
  border: 0.5px solid grey;
  padding: 15px;
  margin: 15px auto; }
  .blockquote p {
    color: #414141; }
    .blockquote p:before, .blockquote p:after {
      content: '"'; }

.bg-primary, .alert-primary, .badge-primary, .btn-primary {
  background: #EFCC70 !important; }

.bg-secondary, .alert-secondary, .badge-secodary, .btn-secondary {
  background: #6C5D33 !important;
  color: white; }

.bg-info, .alert-info, .badge-info, .btn-info {
  background: #C0E4F0 !important;
  color: black; }

.btn-outline-primary {
  border-color: #EFCC70 !important;
  color: black; }
  .btn-outline-primary:hover {
    background: #EFCC70 !important; }

.btn-outline-secondary {
  border-color: #6C5D33 !important; }
  .btn-outline-secondary:hover {
    background: #6C5D33 !important; }

.btn-outline-info {
  border-color: #C0E4F0 !important; }

.text-primary {
  color: #EFCC70 !important; }

.text-secondary {
  color: #6C5D33 !important; }

.text-info {
  color: #C0E4F0 !important; }

/***********************
  SPECIFIC COMPONENTS
 ***********************/
/* alerts */
.alert {
  border: none;
  border-radius: 0 !important;
  box-shadow: 1px 1px 1px grey;
  transition: transform 100ms ease-in; }
  .alert:hover {
    transform: scale(1.01); }

/* Buttons */
.btn {
  border-width: 0.5px;
  border-radius: 0;
  box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.2); }
  .btn.btn-primary, .btn .btn-secondary {
    border: none; }

.btn-group .btn {
  box-shadow: 0 0 0 white; }

/* cards */
.card {
  box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.2); }

.card, .card-img-top {
  border-radius: 0; }
